<input ng-model="query" name="Search"></input>
<h2>Risultati {{query}}</h2>
                <span ng-repeat="doc in results.docs">
                 <p>{{doc["PID"]}}</p>
                </span>
				
				
				
				
				
				
				
				
				
				