<head></head><body><div id="loading" class="animate-show spin-icon" data-ng-show="loadingCollectionTracker.active()"></div>
<div data-ng-hide="loadingCollectionTracker.active()" data-ng-class="'collection-container collection-container-' + onlyPID" data-ng-cloak="">

<input type="text" ng-model="collection.pid"></input>
<button ng-click="fetchCollection()" >Vai</button>



<div class="collection-row">
  <div class="cell width-16 position-0">
    <div data-ng-if="collectionTitle">
      <h2 id="collection-title" data-ng-bind="collectionTitle"></h2>
      <hr>
    
    </div>
    <!-- Collection objects retrieve error -->
    <div data-ng-if="collectionError.status" role="alert" class="alert alert-danger">
      <p>ERRORE {{collectionError.status}}: Recupero degli oggetti della collezione {{collection.pid}} fallito. Per maggiori informazioni contattare phaidra-help@cab.unipd.it</p>
    </div>
    <!-- Collection objects retrieve alerts -->
    <div data-ng-if="collectionAlerts.length  || hits == 0" class="alert alert-danger">
      <p>ERRORE: Recupero degli oggetti della collezione {{collection.pid}} fallito. Per maggiori informazioni contattare phaidra-help@cab.unipd.it</p>
<!--      <p data-ng-repeat="alert in collectionAlerts" role="alert">{{alert}}</p>-->
    </div>
    <!-- Collection metadata retrieve error -->
    <div data-ng-if="collectionMetadataError.status" role="alert" class="alert alert-danger">
      <p>ERRORE {{collectionMetadataError.status}}: Recupero dei metadati della collezione {{collection.pid}} fallito. Per maggiori informazioni contattare phaidra-help@cab.unipd.it</p>
    </div>
    <!-- Collection metadata retrieve alerts -->
    <div data-ng-if="collectionMetadataAlerts.length" class="alert alert-danger">
      <p role="alert">ERRORE: Recupero dei metadati della collezione {{collection.pid}} fallito. Per maggiori informazioni contattare phaidra-help@cab.unipd.it</p>
<!--      <p data-ng-repeat="alert in collectionMetadataAlerts" role="alert">{{alert}}</p>-->
    </div>
  </div>

</div><!-- /.row --> 


<div class="collection-row">
  <div data-ng-if="objects.length" class="animate-enter">

    <div class="cell width-6 position-0">
    <div data-ng-show="largeCollectionFlag" data-ng-if="largeCollectionFlag" role="alert" class="alert alert-danger alert-dismissable">      
      <button type="button" class="close" data-ng-click="largeCollectionFlag = !largeCollectionFlag">
        <span>×</span>
      </button>
      <p>La collezione contiene {{hits}} oggetti, ma il Collection Viewer supporta collezioni contenenti al massimo {{maxCollectionSize}} oggetti. La collezione Ã¨ stata troncata a {{maxCollectionSize}} oggetti visualizzabili. Per maggiori informazioni contattare phaidra-help@cab.unipd.it</p>	
    </div>
      <!-- <p class="detail-item"><em>Oggetti nella collezione: </em>{{objects.length}}</p> -->
      <div data-ng-hide="itemMetadataError.status || itemMetadataAlerts.length">
        <div class="text-center animate-show">
          <p>
            </p><form name="searchCollection" novalidate="">              
	      <span class="icon search-icon"></span>
              <input name="search" id="search" size="30" data-ng-model="query" ng-minlength="3" data-ng-model-options="{debounce:300}" placeholder="Cerca nella collezione" required="" data-ng-change="currentPage = 1" type="text">
              <p class="text-center detail-item" data-ng-if="searchCollection.search.$valid">Risultati trovati: {{(objects | searchTitleDescFilter:query).length}}</p>
            </form>
          <p></p>
        </div>
      </div><!-- metadataError -->
      <div data-ng-class="{'anim': searchCollection.search.$valid &amp;&amp; (objects | searchTitleDescFilter:query).length > 0}">
        <div class="text-center" id="pagination-top">
          <div data-dir-pagination-controls="" data-max-size="maxSize" data-auto-hide="autoHide"></div>
        </div>	 
        <div id="img-grid">
          <a href="" data-ng-click="detail(o)" data-dir-paginate="o in objects | searchTitleDescFilter:query | itemsPerPage:4 track by o.pid" data-current-page="currentPage">
	    <div id="thumbnail-container"> 
              <img id="thumbnail" class="img-responsive animate-show" data-fade-in="" data-ng-src="{{o.thumbnailURL}}"> 
	    </div>
	    <span class="caption">{{ o.title }}</span> <!-- Ellipsis in CSS .caption class -->
          </a> 
         </div>
<!--	    <div id="collection-item"> -->
<!--	      <div class="thumbnail-container left"> -->
<!--          	  <img class="img-responsive animate-show" data-ng-src="{{o.thumbnailURL}}" alt="test" title="test"/></a> -->
<!--	      </div>  -->
<!--      	      <div class="thumbnail-title"> -->
<!--  	        <span>{{ o.title }}</span>      -->
<!--      	      </div> -->
<!--	    </div> -->
	  
        <div class="text-center" id="pagination-bottom">
          <div data-dir-pagination-controls="" data-max-size="maxSize" data-auto-hide="autoHide"></div>
        </div>
      </div><!-- /.searchAnimation -->
    </div><!-- /.col -->
    <div class="cell width-10 position-6">
      <div id="object-view" data-ng-hide="itemMetadataError.status || itemMetadataAlerts.length">
      <h2 class="text-center" id="obj-title" data-ng-if="metadataObj.title.text" data-ng-bind-html="metadataObj.title.text | highlight:query"></h2>
      <div id="top-image-container" class="detail-item" data-ng-mouseenter="hovering=true" data-ng-mouseleave="hovering=false" data-ng-swipe-right="prev(objCurrent.pos)" data-ng-swipe-left="next(objCurrent.pos)">
        <div id="top-image" class="top-image">
        <a data-ng-href="{{resourceURL}}" target="_blank">
          <img class="img-responsive" data-ng-src="{{topImageURL}}">
        </a>
        </div>
	<a class="h-nav-controls prev" data-ng-class="{'transparent':!hovering}" data-ng-hide="(objCurrent.pos-1) < 0" data-ng-click="prev(objCurrent.pos)" title="Precedente oggetto nella collezione"><span class="icon chevron-icon chevron-left-icon"></span></a>
	<a class="h-nav-controls next" data-ng-class="{'transparent':!hovering}" data-ng-hide="(objCurrent.pos+1) > (objects.length-1)" data-ng-click="next(objCurrent.pos)" title="Successivo oggetto nella collezione"><span class="icon chevron-icon chevron-right-icon"></span></a>
      </div>
      </div><!-- metadata error -->

     <!-- Current object DC retrieve error -->
      <div data-ng-if="itemMetadataError.status" role="alert" class="alert alert-danger">
        <p>ERRORE {{itemMetadataError.status}}: Recupero dei metadati dell'oggetto {{objCurrent.pid}} fallito. Per maggiori informazioni contattare phaidra-help@cab.unipd.it</p>
      </div>
      <!-- Current object DC retrieve alerts -->
      <div data-ng-if="itemMetadataAlerts.length" role="alert" class="alert alert-danger">
         <p>ERRORE: Recupero dei metadati dell'oggetto {{objCurrent.pid}} fallito. Per maggiori informazioni contattare phaidra-help@cab.unipd.it</p>
<!--         <p data-ng-repeat="alert in itemMetadataAlerts" role="alert">{{alert}}</p> -->
      </div>
      <!-- Object DC -->
      <div id="object-metadata">
      <div data-ng-if="MUSEOmetadata.length">
        <p data-ng-bind-html="MUSEOmetadata"></p>
      </div>
      <div data-ng-if="hasMUSEO == 0 &amp;&amp; itemMetadata.length">
        <p data-ng-if="metadataObj.description.text" id="obj-description" class="break-overflow-word" data-ng-bind-html="metadataObj.description.text | parseUrlFilter | nl2br | highlight:query"></p>
        <p data-ng-if="metadataLanguage &amp;&amp; metadataLanguage !== 'xxx'"><strong>Language: </strong></p>
        <p data-ng-if="metadataObj.subject.text"><strong>Subject: </strong><br>
  	<span class="subject-value" data-ng-repeat="subject in metadataObj.subject.text.split(' - ')">• {{subject}}</span>
	</p>
        <p data-ng-if="metadataObj.rights.text"><strong>Diritti: </strong><span class="break-overflow-word" data-ng-bind-html="metadataObj.rights.text | parseUrlFilter"></span></p>
        <p data-ng-if="collection.organization &amp;&amp; collection.organizationEmail"><strong>Ente o persona di riferimento per la collezione: </strong><span id="organization-contact"><a data-ng-href="mailto:{{::collection.organizationEmail}}"><span class="icon mail-icon"></span>{{::collection.organization}}</a></span></p>
        <p><a href="" data-ng-click="showMeta=!showMeta"><span class="black-link"><strong>Visualizza i metadati completi</strong></span><span data-ng-show="showMeta" class="icon minus-icon"></span><span data-ng-hide="showMeta" class="icon plus-icon"></span></a></p>
<!--    <button type="button" id="full-metadata-button" data-ng-click="showMeta=!showMeta">{{showMeta && 'Nascondi i metadati completi' || 'Visualizza i metadati completi'}}</button>-->
        <div data-ng-show="showMeta" class="animate-show" id="full-metadata-list">
          <p data-ng-if="field.pos !== -1 &amp;&amp; field.text" data-ng-repeat="field in metadataArr | orderBy:'pos'">
            <strong>{{field.label | translate}}: </strong><span class="break-overflow-word" data-ng-bind-html="field.text | parseUrlFilter | nl2br | highlight:(field.label === 'title' || field.label === 'description') &amp;&amp; query"></span>
          </p>
        </div>        
      </div><!-- /if itemMetadata.length -->
      <p data-ng-if="hasMUSEO &amp;&amp; collection.organization &amp;&amp; collection.organizationEmail"><strong>Collezione: </strong><span id="organization-contact"><a data-ng-href="mailto:{{::collection.organizationEmail}}"><span class="icon mail-icon"></span>{{::collection.organization}}</a></span></p>
      <div id="phaidra-link">
	      <p><a data-ng-href="{{::phaidraInstance}}/{{objCurrent.pid}}" target="_blank"><span class="black-link"><strong>Visualizza in Phaidra</strong></span><span class="icon arrow-forward-icon"></span></a></p>
      </div>
     </div><!-- /.object-metadata -->
    </div><!-- /.col -->   
  </div><!-- /if objects.length -->
</div><!-- /.row -->

<!-- FOOTER -->
<div class="collection-row">
  <div class="cell width-16 position-0">
  
  </div><!-- col -->
</div><!-- /.row -->

</div><!-- /.container -->
</body>